@import "../utilities/";
@import "../maps/";

button {
  @extend .center-flex;
  border: none;
  font-family: "Crimson Text", Arial, Helvetica, sans-serif;
  margin: 20px 0;

  &:hover {
    cursor: pointer;
  }
}

.icon-button {
  background: none;
  margin: 0;

  img {
    width: 36px;
  }
}

.primary-button {
  //   background: getColor(primary-blue);
  @include gradientBackground(primary-blue, gradient-blue);
  color: getColor(body);
  padding: 10px 40px;
  font-size: var(--fs-500);
  font-weight: 600;

  &:hover {
    // background: getColor(secondary-blue);
    @include gradientBackground(secondary-blue, gradient-blue-light);
  }
}

.product-button {
  font-size: var(--fs-400) !important;
  width: 100%;
  margin: 0;
  position: relative;
  transform: translateY(-50px);
  opacity: 0;
  transition: all 0.4s ease-in-out;
}
