@import "../utilities/";
@import "../maps/";

button {
  @extend .center-flex;
  border: none;
  font-family: "Crimson Text", Arial, Helvetica, sans-serif;

  &:hover {
    cursor: pointer;
  }
}

.icon-button {
  background: none;

  img {
    width: 36px;
  }
}

.primary-button {
  //   background: getColor(primary-blue);
  @include gradientBackground(primary-blue, gradient-blue);
  color: getColor(body);
  padding: 10px 40px;
  font-size: var(--fs-500);
  font-weight: 600;

  &:hover {
    // background: getColor(secondary-blue);
    @include gradientBackground(secondary-blue, gradient-blue-light);
  }
}
