@import "../utilities/";
footer {
  .dot {
    @include gradientBackground(secondary-blue, gradient-blue-light);
    height: 7px;
    width: 7px;
    border-radius: 100%;
  }
  p {
    font-style: italic;
    color: getColor(secondary-blue);
  }
}
