.display-flex {
  display: flex;
  align-items: center;
}

.justify-content-between {
  justify-content: space-between;
}

.display-flex-column {
  display: flex;
  flex-direction: column;
}

.center-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
