@import "../maps/variables";

@mixin gradientText($primary, $gradient) {
  background-color: getColor($primary);
  background-image: getColor($gradient);
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

@mixin gradientBackground($primary, $gradient) {
  background-color: getColor($primary);
  background-image: getColor($gradient);
  background-size: 100%;
  background-repeat: no-repeat;
}
