.display-flex {
  display: flex;
  align-items: center;
}

.justify-content-between {
  justify-content: space-between;
}

.display-flex-column {
  display: flex;
  flex-direction: column;
}

.center-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.display-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.justify-end {
  justify-items: end;
}

.position-relative {
  position: relative;
}

.position-absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.text-align-center {
  text-align: center;
}

.text-bold {
  font-weight: 600;
}

.text-center {
  text-align: center;
}

.display-flex, nav ul, header {
  display: flex;
  align-items: center;
}

.justify-content-between {
  justify-content: space-between;
}

.display-flex-column {
  display: flex;
  flex-direction: column;
}

.center-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.display-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.justify-end {
  justify-items: end;
}

.position-relative {
  position: relative;
}

.position-absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.text-align-center {
  text-align: center;
}

.text-bold {
  font-weight: 600;
}

.text-center {
  text-align: center;
}

header {
  width: 100%;
  height: 80px;
  background-color: #010612;
}

header .logo {
  width: 50%;
}

nav img {
  width: 36px;
}

nav ul {
  list-style: none;
}

nav ul li:not(:first-of-type) {
  margin-left: 1em;
}

nav ul li a {
  color: #d4af35;
  font-style: italic;
  text-decoration: none;
}

nav ul li a:hover {
  color: #a88924;
}

nav .cart-counter {
  position: absolute;
  color: #fcfbf7;
  font-size: var(--fs-300);
  font-family: "Crimson Text", Arial, Helvetica, sans-serif;
  font-style: normal;
  top: -35%;
  left: 50%;
}

.display-flex, header {
  display: flex;
  align-items: center;
}

.justify-content-between {
  justify-content: space-between;
}

.display-flex-column {
  display: flex;
  flex-direction: column;
}

.center-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.display-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.justify-end {
  justify-items: end;
}

.position-relative {
  position: relative;
}

.position-absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.text-align-center {
  text-align: center;
}

.text-bold {
  font-weight: 600;
}

.text-center {
  text-align: center;
}

header {
  justify-content: space-between;
}

.display-flex {
  display: flex;
  align-items: center;
}

.justify-content-between {
  justify-content: space-between;
}

.display-flex-column {
  display: flex;
  flex-direction: column;
}

.center-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.display-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.justify-end {
  justify-items: end;
}

.position-relative {
  position: relative;
}

.position-absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.text-align-center {
  text-align: center;
}

.text-bold {
  font-weight: 600;
}

.text-center {
  text-align: center;
}

.hero-banner {
  background: linear-gradient(180deg, rgb(1, 6, 18) 0%, rgb(2, 10, 29) 63%, rgb(33, 44, 67) 100%);
  background-size: 100%;
  min-height: 300px;
  text-align: center;
}

.hero-banner-heading {
  color: #a88924;
  font-size: 1.375rem;
}

.hero-banner-title {
  background-color: #d4af35;
  background-image: linear-gradient(180deg, rgb(212, 175, 53) 0%, rgb(168, 137, 36) 100%);
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  font-style: italic;
  font-weight: 500;
}

.hero-banner-text {
  color: #fcfbf7;
}

.hero-banner-line {
  background-color: #d4af35;
  background-image: linear-gradient(180deg, rgb(212, 175, 53) 0%, rgb(168, 137, 36) 100%);
  background-size: 100%;
  background-repeat: no-repeat;
  content: "";
  min-height: 30px;
  width: 100%;
}

.display-flex {
  display: flex;
  align-items: center;
}

.justify-content-between {
  justify-content: space-between;
}

.display-flex-column {
  display: flex;
  flex-direction: column;
}

.center-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.display-grid, .products-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.justify-end {
  justify-items: end;
}

.position-relative {
  position: relative;
}

.position-absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.text-align-center {
  text-align: center;
}

.text-bold {
  font-weight: 600;
}

.text-center {
  text-align: center;
}

.product-card-general, .product-cart, .product-card {
  background-color: #fff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
}

.product-img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

.product-card-title {
  font-size: var(--fs-400);
  font-weight: 500;
}

.product-price p:nth-child(1) {
  color: #71747b;
  text-decoration: line-through;
}

.product-price-percentage {
  color: #212d44;
  font-style: italic;
}

.product-rating img {
  width: 15px;
}

.products-container {
  gap: 10px 10px;
}

.product-card {
  text-align: center;
}

.product-card-img {
  min-height: 150px;
  max-height: 150px;
}

.product-card-img-container {
  max-height: 150px;
  overflow: hidden;
}

.product-card:hover {
  overflow: hidden;
}

.product-card:hover .product-button {
  display: block;
  transform: translateY(-50px);
  transition: transform 1s ease-in-out;
}

.product-page .product-img {
  min-height: 300px;
  max-height: 300px;
}

.product-cart {
  width: 400px;
}

.product-cart-img {
  height: 70px;
  width: 70px;
}

.product-cart h2 {
  max-width: 40%;
}

.display-flex {
  display: flex;
  align-items: center;
}

.justify-content-between {
  justify-content: space-between;
}

.display-flex-column {
  display: flex;
  flex-direction: column;
}

.center-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.display-grid, .products-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.justify-end {
  justify-items: end;
}

.position-relative {
  position: relative;
}

.position-absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.text-align-center {
  text-align: center;
}

.text-bold {
  font-weight: 600;
}

.text-center {
  text-align: center;
}

.product-card-general, .review, .product-cart, .product-card {
  background-color: #fff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
}

.product-img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

.product-card-title {
  font-size: var(--fs-400);
  font-weight: 500;
}

.product-price p:nth-child(1) {
  color: #71747b;
  text-decoration: line-through;
}

.product-price-percentage {
  color: #212d44;
  font-style: italic;
}

.product-rating img {
  width: 15px;
}

.products-container {
  gap: 10px 10px;
}

.product-card {
  text-align: center;
}

.product-card-img {
  min-height: 150px;
  max-height: 150px;
}

.product-card-img-container {
  max-height: 150px;
  overflow: hidden;
}

.product-card:hover {
  overflow: hidden;
}

.product-card:hover .product-button {
  display: block;
  transform: translateY(-50px);
  transition: transform 1s ease-in-out;
}

.product-page .product-img {
  min-height: 300px;
  max-height: 300px;
}

.product-cart {
  width: 400px;
}

.product-cart-img {
  height: 70px;
  width: 70px;
}

.product-cart h2 {
  max-width: 40%;
}

.review-username {
  font-weight: 700;
}

.review-description {
  color: #71747b;
}

.display-flex {
  display: flex;
  align-items: center;
}

.justify-content-between {
  justify-content: space-between;
}

.display-flex-column {
  display: flex;
  flex-direction: column;
}

.center-flex, button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.display-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.justify-end {
  justify-items: end;
}

.position-relative {
  position: relative;
}

.position-absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.text-align-center {
  text-align: center;
}

.text-bold {
  font-weight: 600;
}

.text-center {
  text-align: center;
}

button {
  border: none;
  font-family: "Crimson Text", Arial, Helvetica, sans-serif;
  margin: 20px 0;
}

button:hover {
  cursor: pointer;
}

.icon-button {
  background: none;
  margin: 0;
}

.icon-button img {
  width: 36px;
}

.primary-button {
  background-color: #020d27;
  background-image: linear-gradient(180deg, rgb(33, 45, 68) 0%, rgb(2, 13, 39) 100%);
  background-size: 100%;
  background-repeat: no-repeat;
  color: #fcfbf7;
  padding: 10px 40px;
  font-size: var(--fs-500);
  font-weight: 600;
}

.primary-button:hover {
  background-color: #212d44;
  background-image: linear-gradient(180deg, rgb(53, 73, 110) 0%, rgb(33, 45, 68) 100%);
  background-size: 100%;
  background-repeat: no-repeat;
}

.product-button {
  font-size: var(--fs-400) !important;
  width: 100%;
  margin: 0;
  position: relative;
  display: none;
}

.display-flex {
  display: flex;
  align-items: center;
}

.justify-content-between {
  justify-content: space-between;
}

.display-flex-column {
  display: flex;
  flex-direction: column;
}

.center-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.display-grid, .products-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.justify-end {
  justify-items: end;
}

.position-relative {
  position: relative;
}

.position-absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.text-align-center {
  text-align: center;
}

.text-bold {
  font-weight: 600;
}

.text-center {
  text-align: center;
}

.product-card-general, input, .product-cart, .product-card {
  background-color: #fff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
}

.product-img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

.product-card-title {
  font-size: var(--fs-400);
  font-weight: 500;
}

.product-price p:nth-child(1) {
  color: #71747b;
  text-decoration: line-through;
}

.product-price-percentage {
  color: #212d44;
  font-style: italic;
}

.product-rating img {
  width: 15px;
}

.products-container {
  gap: 10px 10px;
}

.product-card {
  text-align: center;
}

.product-card-img {
  min-height: 150px;
  max-height: 150px;
}

.product-card-img-container {
  max-height: 150px;
  overflow: hidden;
}

.product-card:hover {
  overflow: hidden;
}

.product-card:hover .product-button {
  display: block;
  transform: translateY(-50px);
  transition: transform 1s ease-in-out;
}

.product-page .product-img {
  min-height: 300px;
  max-height: 300px;
}

.product-cart {
  width: 400px;
}

.product-cart-img {
  height: 70px;
  width: 70px;
}

.product-cart h2 {
  max-width: 40%;
}

form {
  margin: 20px 0;
}

input {
  height: 38px;
  max-width: 500px;
  padding-left: 10px;
  border: solid 1px #fff;
}

input:focus {
  border: solid 2px #d4af35;
  outline: none;
}

.p-0 {
  padding: 0px;
}

.p-5 {
  padding: 5px;
}

.p-10 {
  padding: 10px;
}

.p-15 {
  padding: 15px;
}

.p-20 {
  padding: 20px;
}

.p-25 {
  padding: 25px;
}

.p-30 {
  padding: 30px;
}

.p-l-0 {
  padding-left: 0px;
}

.p-l-5 {
  padding-left: 5px;
}

.p-l-10 {
  padding-left: 10px;
}

.p-l-15 {
  padding-left: 15px;
}

.p-l-20 {
  padding-left: 20px;
}

.p-l-25 {
  padding-left: 25px;
}

.p-l-30 {
  padding-left: 30px;
}

.p-t-0 {
  padding-top: 0px;
}

.p-t-5 {
  padding-top: 5px;
}

.p-t-10 {
  padding-top: 10px;
}

.p-t-15 {
  padding-top: 15px;
}

.p-t-20 {
  padding-top: 20px;
}

.p-t-25 {
  padding-top: 25px;
}

.p-t-30 {
  padding-top: 30px;
}

.p-r-0 {
  padding-right: 0px;
}

.p-r-5 {
  padding-right: 5px;
}

.p-r-10 {
  padding-right: 10px;
}

.p-r-15 {
  padding-right: 15px;
}

.p-r-20 {
  padding-right: 20px;
}

.p-r-25 {
  padding-right: 25px;
}

.p-r-30 {
  padding-right: 30px;
}

.p-b-0 {
  padding-bottom: 0px;
}

.p-b-5 {
  padding-bottom: 5px;
}

.p-b-10 {
  padding-bottom: 10px;
}

.p-b-15 {
  padding-bottom: 15px;
}

.p-b-20 {
  padding-bottom: 20px;
}

.p-b-25 {
  padding-bottom: 25px;
}

.p-b-30 {
  padding-bottom: 30px;
}

.m-0 {
  margin: 0px;
}

.m-5 {
  margin: 5px;
}

.m-10 {
  margin: 10px;
}

.m-15 {
  margin: 15px;
}

.m-20 {
  margin: 20px;
}

.m-25 {
  margin: 25px;
}

.m-30 {
  margin: 30px;
}

.m-l-0 {
  margin-left: 0px;
}

.m-l-5 {
  margin-left: 5px;
}

.m-l-10 {
  margin-left: 10px;
}

.m-l-15 {
  margin-left: 15px;
}

.m-l-20 {
  margin-left: 20px;
}

.m-l-25 {
  margin-left: 25px;
}

.m-l-30 {
  margin-left: 30px;
}

.m-t-0 {
  margin-top: 0px;
}

.m-t-5 {
  margin-top: 5px;
}

.m-t-10 {
  margin-top: 10px;
}

.m-t-15 {
  margin-top: 15px;
}

.m-t-20 {
  margin-top: 20px;
}

.m-t-25 {
  margin-top: 25px;
}

.m-t-30 {
  margin-top: 30px;
}

.m-r-0 {
  margin-right: 0px;
}

.m-r-5 {
  margin-right: 5px;
}

.m-r-10 {
  margin-right: 10px;
}

.m-r-15 {
  margin-right: 15px;
}

.m-r-20 {
  margin-right: 20px;
}

.m-r-25 {
  margin-right: 25px;
}

.m-r-30 {
  margin-right: 30px;
}

.m-b-0 {
  margin-bottom: 0px;
}

.m-b-5 {
  margin-bottom: 5px;
}

.m-b-10 {
  margin-bottom: 10px;
}

.m-b-15 {
  margin-bottom: 15px;
}

.m-b-20 {
  margin-bottom: 20px;
}

.m-b-25 {
  margin-bottom: 25px;
}

.m-b-30 {
  margin-bottom: 30px;
}

html {
  font-size: 18px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

:root {
  --fs-300: 0.8rem;
  --fs-400: 1rem;
  --fs-500: 1.125rem;
  --fs-600: 1.375rem;
  --fs-700: 2rem;
}
@media (min-width: 50em) {
  :root {
    --fs-300: 1rem;
    --fs-400: 1.125rem;
    --fs-500: 1.375rem;
    --fs-600: 2rem;
    --fs-700: 2.75rem;
  }
}

body {
  background-color: #fcfbf7;
  background-image: linear-gradient(180deg, rgb(252, 251, 247) 0%, rgb(252, 251, 247) 71%, rgb(247, 241, 222) 100%);
  background-size: 100%;
  background-repeat: no-repeat;
  font-family: "Crimson Text", Arial, Helvetica, sans-serif;
  font-size: var(--fs-400);
  background-attachment: fixed;
  height: 100%;
}

h1,
h2,
h3 {
  font-family: "Playfair Display", Georgia, "Times New Roman", Times, serif;
  color: #020d27;
}

h1 {
  font-size: var(--fs-700);
  text-align: center;
  padding-top: 25px;
  padding-bottom: 15px;
}

h2 {
  font-size: var(--fs-600);
}

h3 {
  font-size: var(--fs-500);
}

p {
  line-height: 30px;
}

nav a {
  font-family: "Playfair Display", Georgia, "Times New Roman", Times, serif;
  font-size: var(--fs-500);
}

a {
  text-decoration: none;
  color: #010612;
}

.link-button {
  color: #020d27;
  font-size: var(--fs-400);
}
.link-button:hover {
  text-decoration: underline;
  color: #212d44;
}

.icon-width-32 {
  width: 32px;
}

.error {
  color: #af0606;
}/*# sourceMappingURL=styles.css.map */